.bg-discord-200 {
  background-color: #B9BBBE;
}
.bg-discord-300 {
  background-color: #393C42;
}
.bg-discord-400 {
  background-color: #36393F;
}
.bg-discord-500 {
  background-color: #2E3338;
}
.bg-discord-600 {
  background-color: #2F3136;
}
.bg-discord-700 {
  background-color: #222427;
}
.bg-discord-800 {
  background-color: #202225;
}
.hover\:bg-discord-200:hover {
  background-color: #B9BBBE;
}
.hover\:bg-discord-300:hover {
  background-color: #393C42;
}
.hover\:bg-discord-400:hover {
  background-color: #36393F;
}
.hover\:bg-discord-500:hover {
  background-color: #2E3338;
}
.hover\:bg-discord-600:hover {
  background-color: #2F3136;
}
.hover\:bg-discord-700:hover {
  background-color: #222427;
}
.hover\:bg-discord-800:hover {
  background-color: #202225;
}
.text-discord-200 {
  color: #B9BBBE;
}
.text-discord-300 {
  color: #393C42;
}
.text-discord-400 {
  color: #36393F;
}
.text-discord-500 {
  color: #2E3338;
}
.text-discord-600 {
  color: #2F3136;
}
.text-discord-700 {
  color: #222427;
}
.text-discord-800 {
  color: #202225;
}
.hover\:text-discord-200:hover {
  color: #B9BBBE;
}
.hover\:text-discord-300:hover {
  color: #393C42;
}
.hover\:text-discord-400:hover {
  color: #36393F;
}
.hover\:text-discord-500:hover {
  color: #2E3338;
}
.hover\:text-discord-600:hover {
  color: #2F3136;
}
.hover\:text-discord-700:hover {
  color: #222427;
}
.hover\:text-discord-800:hover {
  color: #202225;
}
.border-discord-200 {
  border-color: #B9BBBE;
}
.border-discord-300 {
  border-color: #393C42;
}
.border-discord-400 {
  border-color: #36393F;
}
.border-discord-500 {
  border-color: #2E3338;
}
.border-discord-600 {
  border-color: #2F3136;
}
.border-discord-700 {
  border-color: #222427;
}
.border-discord-800 {
  border-color: #202225;
}
.hover\:border-discord-200:hover {
  border-color: #B9BBBE;
}
.hover\:border-discord-300:hover {
  border-color: #393C42;
}
.hover\:border-discord-400:hover {
  border-color: #36393F;
}
.hover\:border-discord-500:hover {
  border-color: #2E3338;
}
.hover\:border-discord-600:hover {
  border-color: #2F3136;
}
.hover\:border-discord-700:hover {
  border-color: #222427;
}
.hover\:border-discord-800:hover {
  border-color: #202225;
}
.bg-logo-400 {
  background-color: #00BF00;
}
.hover\:bg-logo-400:hover {
  background-color: #00BF00;
}
.text-logo-400 {
  color: #00BF00;
}
.hover\:text-logo-400:hover {
  color: #00BF00;
}
.border-logo-400 {
  border-color: #00BF00;
}
.hover\:border-logo-400:hover {
  border-color: #00BF00;
}
