/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUbOvISTs.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUZevISTs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUbuvISTs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUb-vISTs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.font-nunito {
  font-family: 'Nunito', sans-serif;
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #36393F;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
div.box-guilds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: #202225;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media screen and (min-width: 768px) {
  div.box-guilds {
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    height: auto;
    width: 72px;
  }
}
div.box-guilds > .guild {
  position: relative;
}
div.box-guilds > .guild .logo {
  float: left;
  width: 72px;
  height: 72px;
  padding: 12px;
}
div.box-guilds > .guild .logo img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  overflow: hidden;
}
div.box-guilds > .guild .name {
  float: left;
  text-transform: uppercase;
  height: 72px;
  line-height: 72px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  div.box-guilds > .guild .name {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  div.box-guilds > .guild .selected {
    position: absolute;
    top: 16px;
    left: 0;
    background-color: #fff;
    width: 4px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
div.box-channels {
  display: none;
  position: fixed;
  top: 0;
  left: 72px;
  bottom: 0;
  width: 250px;
  overflow: hidden;
  background-color: #2F3136;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media screen and (min-width: 768px) {
  div.box-channels {
    display: block;
  }
}
div.box-channels > .inner > .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2F3136;
  border-bottom: 1px solid #232528;
  height: 48px;
  line-height: 48px;
  padding: 0 15px;
  font-size: 18px;
}
div.box-channels > .inner > .body {
  position: absolute;
  top: 52px;
  left: 0;
  right: 4px;
  bottom: 4px;
  padding: 15px;
  overflow: auto;
}
div.box-channels > .inner > .body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
div.box-channels > .inner > .body::-webkit-scrollbar-track {
  background-color: #2F3136;
  border-radius: 4px;
}
div.box-channels > .inner > .body::-webkit-scrollbar-corner {
  background-color: transparent;
}
div.box-channels > .inner > .body::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 4px;
}
div.box-channels > .inner > .body > .nav li {
  margin-bottom: 4px;
}
div.box-channels > .inner > .body > .nav li a {
  border-radius: 4px;
  font-weight: bold;
  color: #bbb;
}
div.box-channels > .inner > .body > .nav li a:hover {
  background-color: #33353a;
  color: #fff;
}
div.box-channels > .inner > .body > .nav li .nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
div.box-channels > .inner > .body > .nav li.header-2 a {
  font-size: 16px;
}
div.box-channels > .inner > .body > .nav li.header-2 a .nav-icon {
  width: 16px;
  height: 16px;
}
div.box-channels > .inner > .body > .nav li.header-3 a {
  padding-left: 30px;
  font-size: 12px;
}
div.box-channels > .inner > .body > .nav li.header-3 a .nav-icon {
  width: 12px;
  height: 12px;
}
div.box-channels > .inner > .body > .nav li.active a {
  background-color: #36393F;
}
div.box-channels > .inner > .body > .nav li.active a:hover {
  background-color: #36393F;
}
div.box-content {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media screen and (min-width: 768px) {
  div.box-content {
    top: 0;
    left: 322px;
  }
  div.box-content.no-channels {
    left: 72px;
  }
}
div.box-content > .inner > .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #36393F;
  border-bottom: 1px solid #2F3136;
  height: 48px;
  line-height: 48px;
  padding: 0 15px;
  font-size: 18px;
}
div.box-content > .inner > .title small {
  color: #bbb;
  font-size: 12px;
}
div.box-content > .inner > .body {
  position: absolute;
  top: 52px;
  left: 0;
  right: 4px;
  bottom: 4px;
  padding: 15px;
  overflow: auto;
}
div.box-content > .inner > .body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
div.box-content > .inner > .body::-webkit-scrollbar-track {
  background-color: #2F3136;
  border-radius: 4px;
}
div.box-content > .inner > .body::-webkit-scrollbar-corner {
  background-color: transparent;
}
div.box-content > .inner > .body::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 4px;
}
div.box-content > .inner > .body .header {
  display: none;
  margin-bottom: 120px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  div.box-content > .inner > .body .header {
    display: block;
  }
}
div.box-content > .inner > .body .header h1 {
  text-transform: uppercase;
}
div.box-content > .inner > .body .markdown h1,
div.box-content > .inner > .body .markdown h2,
div.box-content > .inner > .body .markdown blockquote {
  display: block;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #2F3136;
  border-left: 4px solid #00BF00;
  border-radius: 4px;
}
div.box-content > .inner > .body .markdown h3 {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 30px;
  border-left: 4px solid #202225;
  border-right: 4px solid #202225;
  border-radius: 8px;
}
div.box-content > .inner > .body .markdown > ol,
div.box-content > .inner > .body .markdown > ul {
  margin-bottom: 60px;
}
div.box-content > .inner > .body .markdown > ol > li,
div.box-content > .inner > .body .markdown > ul > li {
  margin-bottom: 30px;
}
div.box-content > .inner > .body .markdown > ol > li ol,
div.box-content > .inner > .body .markdown > ul > li ol,
div.box-content > .inner > .body .markdown > ol > li ul,
div.box-content > .inner > .body .markdown > ul > li ul {
  margin-bottom: 30px;
}
div.box-content > .inner > .body .markdown > ol > li ol li,
div.box-content > .inner > .body .markdown > ul > li ol li,
div.box-content > .inner > .body .markdown > ol > li ul li,
div.box-content > .inner > .body .markdown > ul > li ul li {
  color: #bbb;
}
div.box-content > .inner > .body .markdown b,
div.box-content > .inner > .body .markdown strong {
  color: #00b0f4;
}
div.box-content > .inner > .body .markdown hr {
  border-width: 4px;
  border-radius: 2px;
  border-color: #2F3136;
}
div.box-content > .inner > .body .markdown code {
  background-color: #2F3136;
  border: 1px solid #202225;
  color: #fff;
}
div.box-content > .inner > .body .markdown .header-anchor {
  color: #00BF00;
}
