<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLVYKGVQ7N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VLVYKGVQ7N');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="author" content="Matrix Roleplay">
    <meta name="keywords" content="servidor,roleplay,rp,gta,rio de janeiro,rj,tema proprio">
    <meta name="description" content="Servidor de Roleplay de GTA com tema próprio!">

    <title>Matrix Roleplay</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/site.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">

    <meta property="og:title" content="Matrix Roleplay">
    <meta property="og:url" content="https://matrixroleplay.com.br">
    <meta property="og:description" content="Servidor de Roleplay de GTA com tema próprio!">
    <meta property="og:image" content="/img/favicon_io/android-chrome-512x512.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pt_BR">
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <img src="/img/logo-840x780.png" alt="Matrix Roleplay" class="img-responsive"
                    style="width: 400px; margin: auto;">
            </div>
        </div>
    </header>

    <div class="site-content">
        <div class="container title-404">

            <div class="alert alert-danger">
                <p>
                    Um erro inesperado aconteceu! Entre em contato com a equipe técnica.
                </p>
            </div>

        </div>
    </div>

    <footer>
        <a href="http://discord.gg/tzdhgprV2R" target="_blank">Flow RJ RP</a> - Todos os direitos reservados.
    </footer>
</body>

</html>