.bg-discord-200 {
  background-color: #1E1D32;
}
.bg-discord-300 {
  background-color: #1E1D32;
}
.bg-discord-400 {
  background-color: #1E1D32;
}
.bg-discord-500 {
  background-color: #1E1D32;
}
.bg-discord-600 {
  background-color: #171627;
}
.bg-discord-700 {
  background-color: #1E1D32;
}
.bg-discord-800 {
  background-color: #111022;
}
.hover\:bg-discord-200:hover {
  background-color: #1E1D32;
}
.hover\:bg-discord-300:hover {
  background-color: #1E1D32;
}
.hover\:bg-discord-400:hover {
  background-color: #1E1D32;
}
.hover\:bg-discord-500:hover {
  background-color: #1E1D32;
}
.hover\:bg-discord-600:hover {
  background-color: #171627;
}
.hover\:bg-discord-700:hover {
  background-color: #1E1D32;
}
.hover\:bg-discord-800:hover {
  background-color: #111022;
}
.text-discord-200 {
  color: #1E1D32;
}
.text-discord-300 {
  color: #1E1D32;
}
.text-discord-400 {
  color: #1E1D32;
}
.text-discord-500 {
  color: #1E1D32;
}
.text-discord-600 {
  color: #171627;
}
.text-discord-700 {
  color: #1E1D32;
}
.text-discord-800 {
  color: #111022;
}
.hover\:text-discord-200:hover {
  color: #1E1D32;
}
.hover\:text-discord-300:hover {
  color: #1E1D32;
}
.hover\:text-discord-400:hover {
  color: #1E1D32;
}
.hover\:text-discord-500:hover {
  color: #1E1D32;
}
.hover\:text-discord-600:hover {
  color: #171627;
}
.hover\:text-discord-700:hover {
  color: #1E1D32;
}
.hover\:text-discord-800:hover {
  color: #111022;
}
.border-discord-200 {
  border-color: #1E1D32;
}
.border-discord-300 {
  border-color: #1E1D32;
}
.border-discord-400 {
  border-color: #1E1D32;
}
.border-discord-500 {
  border-color: #1E1D32;
}
.border-discord-600 {
  border-color: #171627;
}
.border-discord-700 {
  border-color: #1E1D32;
}
.border-discord-800 {
  border-color: #111022;
}
.hover\:border-discord-200:hover {
  border-color: #1E1D32;
}
.hover\:border-discord-300:hover {
  border-color: #1E1D32;
}
.hover\:border-discord-400:hover {
  border-color: #1E1D32;
}
.hover\:border-discord-500:hover {
  border-color: #1E1D32;
}
.hover\:border-discord-600:hover {
  border-color: #171627;
}
.hover\:border-discord-700:hover {
  border-color: #1E1D32;
}
.hover\:border-discord-800:hover {
  border-color: #111022;
}
.bg-logo-400 {
  background-color: #00BF00;
}
.hover\:bg-logo-400:hover {
  background-color: #00BF00;
}
.text-logo-400 {
  color: #00BF00;
}
.hover\:text-logo-400:hover {
  color: #00BF00;
}
.border-logo-400 {
  border-color: #00BF00;
}
.hover\:border-logo-400:hover {
  border-color: #00BF00;
}
